{# Unused: previous version of the multi-screen form to upload a photo #}
{% comment %}
  <div id="part2" class="step">
       <h3>Step 2: Photo Information</h3>
       <!-- <input type="integer" name="taken_year" class="form-control" placeholder="Date"> -->
       <!-- <input type="integer" name="taken_month" class="form-control" placeholder="/"> -->
       <!-- <input type="text" id="city" class="form-control" placeholder="City, Country"> -->
       <!-- <textarea name="description" id="message" class="form-control" placeholder="In your own words, write what is the main focus of your photo and how you feel about the photo you took"></textarea> -->


      <!-- TO: New html for forms with different styling -->
      <div class="form-field">
        <input id="form_name1" class="form-control" type="date" placeholder="Placeholder" required>
        <label for="form_name1">DATE TAKEN</label>
      </div>

      <div class="form-field">
        <input id="form_name2" class="form-control" type="date"  placeholder="" required>
        <label for="form_name2">LOCATION</label>
      </div>

      <div class="form-field">
        <input id="form_name3" class="form-control" type="date"  placeholder="In 3 keywords or less, what is the main focus in the photo you took?" required>
        <label for="form_name3">In 3 keywords or less, what is the main focus in the photo you took?</label>
      </div>


      <div class="form-field">
      <textarea id="form_name3" class="form-control" type="text"  placeholder="In your own words, write what is the main focus of your photo and how you feel about the photo you took" required></textarea>
      <label for="form_name3">TEXTAREA</label>
      </div>



      <!-- TO: Hiding old code -->

      <!--     {{ form.taken_year.errors }}
           {% form_field form.taken_year class="form-control" autocomplete="off" placeholder="Year taken" %}

           {{ form.taken_month.errors }}
           {% form_field form.taken_month class="form-control" autocomplete="off" placeholder="Month taken" %}

      -->
     <div class="button-wrapper">
      <label for='step2' id="back-step2" class="back">
        Back
      </label>
      <label for='step3' id="continue-step3" class="next">
        Next
      </label>
     </div>
  </div>

  <div id="part3" class="step">
  <h3>Step 3: Photo Information</h3>
      <div class="form-field">
        <input id="form_name1" class="form-control" type="date" placeholder="Placeholder" required>
        <label for="form_name1">DATE TAKEN</label>
      </div>

      <div class="form-field">
        <input id="form_name2" class="form-control" type="date"  placeholder="" required>
        <label for="form_name2">LOCATION</label>
      </div>

      <div class="form-field">
        <input id="form_name3" class="form-control" type="date"  placeholder="In 3 keywords or less, what is the main focus in the photo you took?" required>
        <label for="form_name3">In 3 keywords or less, what is the main focus in the photo you took?</label>
      </div>


    <div class="button-wrapper">
      <label for='step3' id="back-step3" class="back">
        Back
      </label>
      <label for='step4' id="continue-step4" class="next">
        Next
      </label>
    </div>
  </div>


  <div id="part4" class="step">
    <h3>Step 4: Photo Information</h3>
    <div class="form-field">
      <input id="form_name3" class="form-control" type="date"  placeholder="In 3 keywords or less, what is the main focus in the photo you took?" required>
      <label for="form_name3">In 3 keywords or less, what is the main focus in the photo you took?</label>
    </div>
    <div class="button-wrapper">
      <label for='step4' id="back-step4" class="back">
        Back
      </label>
      <label for='step5' id="continue-step5" class="next">
        Next
      </label>
     </div>
  </div>

  <div id="part5" class="step">
    <h3>Step 5: Photo Information</h3>
    <div class="form-field">
      <input id="form_name3" class="form-control" type="date"  placeholder="In 3 keywords or less, what is the main focus in the photo you took?" required>
      <label for="form_name3">In 3 keywords or less, what is the main focus in the photo you took?</label>
    </div>
    <div class="button-wrapper">
      <label for='step5' id="back-step5" class="back">
        Back
      </label>
      <label for='step6' id="continue-step6" class="next">
        Next
      </label>
     </div>
  </div>

  <div id="part6" class="step">
    <h3>Step 6: Photo Information</h3>
    <div class="form-field">
      <input id="form_name3" class="form-control" type="date"  placeholder="In 3 keywords or less, what is the main focus in the photo you took?" required>
      <label for="form_name3">In 3 keywords or less, what is the main focus in the photo you took?</label>
    </div>
    <div class="button-wrapper">
      <label for='step6' id="back-step6" class="back">
        Back
      </label>
      <label for='step7' id="continue-step7" class="next">
        Next
      </label>
     </div>
  </div>

  <div id="part7" class="step">
      <h3>Step 7: Consent Information</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      {{ form.consent.errors }}
      <label>
          {% form_field form.consent class="show" autocomplete="off" %}
          I have read and accept the terms
      </label>

      <div class="button-wrapper">
        <label for='step7' id="back-step7" class="back">
          Back
        </label>
        <label id="continue-step8" class="next last" >
          Submit
          <input type="submit" value="Submit" name="Submit" class="hidden submit">
        </label>
      </div>
    </div>
{% endcomment %}
