[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-extensions = "*"
django-libsass = "*"
django-model-utils = "*"
django-redis = "*"
psycopg2-binary = "*"
pysolr = "*"
redis = "*"
django-activecollab-digger = "*"
django-haystack = "*"
django-kdl-ldap = "*"
wagtail = "*"
dateparser = "*"
django-map-widgets = "*"
Django = "<2.1"
django_compressor = "*"

[requires]
python_version = "3.5"
