# As of last Sept 2018, latest version of wagtail only works with DJ<2.1  
django<2.1
django-compressor
django-extensions
django-libsass
django-model-utils
django-redis
psycopg2-binary
pysolr
redis

django-activecollab-digger

django-haystack
django-kdl-ldap
wagtail

dateparser
