/** Your custom scss here **/



/*
- GENERAL 
- HEADER 
- NAVIGATION 
- SEARCH RESULTS
- PHOTO PAGE










/**** GENERAL ****/

// GN: reduced from 170% is it was badly pixelated on web friendly images
// TO: Had to increase it back a bit to 160 as it wasn't cropping enough. Will change it to a better way of cropping later.

$image-crop-scale: 160%;

/* Colours to come */




html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body{
	margin:0 5%;
	width:90%;
  font-family: "helvetica neue", helvetica;
}

section{
-moz-transition:all 200ms ease-in;
-webkit-transition:all 200ms ease-in;
-o-transition:all 200ms ease-in;
transition:all 200ms ease-in;
}

h1{
}

/**** HEADER ****/
header{
  text-align: center;
  margin:1rem 0;
  a{
    font-size: 2rem;
    color:black;
    text-decoration: none;
  }
}

/**** NAVIGATION ****/



  /*nav*/
  nav{
  .menu-list{
  	position:fixed;
  	top:0;
  	right:0;
  	width:250px;
  	height:100%;
  	margin:0 -250px 0 0 ;
  	-moz-transition:all 200ms ease-in;
  	-webkit-transition:all 200ms ease-in;
  	-o-transition:all 200ms ease-in;
  	transition:all 200ms ease-in;
  	z-index:1;
    ul{
      width:250px;
      height:100%;
      padding:1em;
      margin:0;
      list-style:none;
      background:black;
      overflow:hidden;
      li{
        margin:1em 0;
        a{
          color:white;
          text-decoration:none;
          font-size:1.7em;
          &:hover{
            text-decoration:underline;
          }  /* end :hover */
        } /* end a */
      } /* end li */
    } /* end ul */
  }  /* end .menu-list */
  
  
  label {
  	display:block;
  	-moz-transition:all 200ms ease-in;
  	-webkit-transition:all 200ms ease-in;
  	-o-transition:all 200ms ease-in;
  	transition:all 200ms ease-in;
  	z-index:500;
  	&.menu-label{
  		position:absolute;
  		top:10px;
  		right:10px;
  		font-size: 2em;
  	}
  }
  input#menu[type="checkbox"]{
  	display:none;
  }
  input#menu[type="checkbox"]:checked ~ .menu-list{
  	margin:0;
  }
  input#menu[type="checkbox"]:checked ~ label.menu-label{
  	color:transparent;
  }
  input#menu:checked + label.menu-label:after {
  	content: "✕";
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	color: white;
  }
  }/* end nav */


/**** SEARCH ****/
section#search{
  .search-field{ 
    margin:0 auto;
    width:100%;

  input{
    margin: 0 auto;
    width: 95%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #008ABF;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
        opacity: 0;
       }
      &::-moz-placeholder {
        transition: opacity 0.45s ease; 
        opacity: 0;
       }
      &:-ms-placeholder {
       transition: opacity 0.45s ease; 
       opacity: 0;
       }    
      }
    }
    button.search-icon{
      position: absolute;
      right: 10%;
      top: 5.5%;
      border: none;
      background-image: url("http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png");
      background-size: 65px 65px;
      background-color: white;
      background-position: -10px -13px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
    button.geo-icon{
      position: absolute;
      right: 5%;
      top: 6%;
      border: none;
      background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_my_location_48px-512.png");
      background-size: 25px 25px;
      background-color: white;
      background-position: 0 -1px;
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      cursor: pointer;
      }
      button{
        &:hover{
          opacity: 0.6;
        }
      }
    }/* end .search-field */ 

    .search-filters{
        text-align:center;
        width:100%;
        margin-top:2em;
        .filter{
            display: inline-block;
            text-align:left;
            input#filter-nav[type="checkbox"]{
              display:none;
            }
            input#filter-nav[type="checkbox"]:checked ~ .filter-list{
              margin:0;
            }
            input#filter-nav:checked + label.filter-label:after {
              content: "✕";
              position: absolute;
              top: 10px;
              left: 220px;
              color:white;
              z-index:3;
            }
            input#filter-nav[type="checkbox"]:checked ~ label.filter-label{
              background:black;
              color:white;
            }
            input#filter-nav[type="checkbox"]:checked ~ section{
              -webkit-transform:translate3d(260px, 0, 0);
              -moz-transform:translate3d(260px, 0, 0);
              -o-transform:translate3d(260px, 0, 0);
              transform:translate3d(260px, 0, 0);
            }
            label.filter-label{
              background-color: #e6e6e6;
              padding: 0.4rem 1rem;
              cursor: pointer;
              border:1px solid #e6e6e6;
              &:hover{
                border:1px solid black;
              }
            }
            .filter-list{
                position:fixed;
                top:0;
                left:0;
                width:250px;
                height:100%;
                margin:0 0 0 -250px;
                -moz-transition:all 200ms ease-in;
                -webkit-transition:all 200ms ease-in;
                -o-transition:all 200ms ease-in;
                transition:all 200ms ease-in;
                z-index:2;
                ul{
                    width:250px;
                    height:100%;
                    padding:1em;
                    background:black;
                    color:white;
                    margin:0;
                    list-style:none;
                    overflow:scroll;

                    li{
                        margin:0;
                    }/* end li*/
                } /* end ul*/

                label {
                    display:block;
                    -moz-transition:all 200ms ease-in;
                    -webkit-transition:all 200ms ease-in;
                    -o-transition:all 200ms ease-in;
                    transition:all 200ms ease-in;
                    z-index:500;
                    &.filter-label{
                        width:100px;
                        font-size:1em;
                        text-align:center;
                    }/* end filter-label */
                }/* label */
            }/* end .filter-list */
        }/* end #filter */
    }/* end .search-filters */

    .sort{
        display: inline-block;
        position: relative;
        background-color: #e6e6e6;
        width: auto;
        max-width: 100%;
        border-radius: 2px;
        border:1px solid #e6e6e6;
        &:hover{
          border:1px solid black;
        }
         select {
            max-width: 100%;
            padding: 0.35rem 1.5rem 0.3rem 1rem;
            border: none;
            font-size:0.9rem;

            background-color: transparent;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;
            &:active,
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
          &:after {
            content: " ";
            position: absolute;
            top: 50%;
            margin-top: -2px;
            right: 6px;
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #aaa;
          }
    }/* end #sort */
} /* end section #search */  
    


/**** SEARCH RESULTS ****/

section#results{
    margin: 0 auto;
    // padding-top: 70px;
    padding-top: 40px;
    position: relative;
    input, section, article {
      clear: both;
      padding-top: 10px;
      display: none;
    }
    label {
      font-weight: 700;
      font-size: 18px;
      display: block;
      float: left;
      width: 33.3%;
      padding: 1em;
      border:1px solid #ccc;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      color:#aaa;
    }
    #tab1:checked ~ #photo-grid,
    #tab2:checked ~ #photo-list,
    #tab3:checked ~ #photo-map{
      display: block;
      background: #fff;
      color: #999;
      border-bottom: 2px solid #f0f0f0;
    }
    [id^="tab"]:checked + label {
      background: #000;
      color:white;
    }
    article {
      border:1px solid #eee;
      &#photo-grid{
        .photo{
          display: inline-block;
          vertical-align: top;
          position:relative;
          width:32%;
            &:nth-child(3n+1){ /* 1st,4th,7th, 10th etc. */
              margin:0 2% 0 0;
            }            
            &:nth-child(3n+3){ /* 3rd, 6th, 9th, 12th etc. */
              margin:0 0 0 2%; 
            }    
          .photo-image{
            width: 100%;
            padding-bottom: 100%;
            overflow: hidden;
            position: relative;
            border:1px solid #f1f1f1;
            img{
              width: $image-crop-scale;
              height: auto;
              margin: auto;
              position: absolute;
              top: -100%;
              right: -100%;
              bottom: -100%;
              left: -100%;
            }
          }
            .photodata{
              a{
                text-decoration: none;
                h2{
                  color: black;
                  &:hover{
                    opacity: 0.6;
                  }
                }

              }
            }
          } /* end .photo */

        } /* end #content1 Grid */
        &#photo-list{
          .photo{
            .photo-image{
            width:25%;
            padding-bottom:25%;
            margin-right:2%;
            display:inline-block;
            margin-bottom:2%;
            overflow: hidden;
            position: relative;
            border:1px solid #f1f1f1;
              img{
                width: $image-crop-scale;
                height: auto;
                margin: auto;
                position: absolute;
                top: -100%;
                right: -100%;
                bottom: -100%;
                left: -100%;
              }
            }
            .photodata{
              width:71%;
              display:inline-block;
              vertical-align:top;
              h2{
                margin-top:0;
                font-size:1.5rem;
              }
            } /* end .photodata */
          } /* end .photo */
      } /* end #content2 List */
    } /* end section */
}


/**** PHOTO PAGE ****/
section#photo{
  .photo-image{
    width:40%;
    display: inline-block;
    margin-right:4%;
    border:1px solid #f1f1f1;
    img{
      width:100%;
      height:auto;
    }
  }
  .photo-data{
    width:55%;
    display: inline-block;
    vertical-align: top;
    font-size: 1.1rem;
    h3{
      color:gray;
      font-size: 0.7rem;
      text-transform: uppercase;
      margin:0 0 0.2rem 0;
    }
    p{
      margin:0 0 2rem 0;
    }
    ul{
      margin: 0 0 2rem -20px;
      li{
        list-style-type: square;
      }
    }
  }

}

// Map
#map-leaflet {
    height: 400px;
    margin-bottom: 2rem;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 2rem;
}
