@import 'fonts';
/*
- GENERAL
- HEADER
- NAVIGATION
- SEARCH RESULTS
- PHOTO PAGE


/**** GENERAL ****/

// GN: reduced from 170% is it was badly pixelated on web friendly images
// TO: Had to increase it back a bit to 160 as it wasn't cropping enough. Will change it to a better way of cropping later.
$image-crop-scale: 160%;
/* Colours */

// TO: Need to
$primary-color: #257478;
$secondary-color:#FFC800;
$black: #000;
$white: #fff;
$lightgray:#E1E1E1;
$gray:#C2C1C1;
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0 5%;
    width: 90%;
    font-family: "Raleway", "helvetica neue", helvetica;
}

section {
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

h1 {}

/**** HEADER ****/

header {
    margin: 1rem 0;
    a {
        font-size: 2rem;
        color: black;
        text-decoration: none;
    }
}

/**** NAVIGATION ****/

/*nav*/
nav {
    .menu-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        margin: 0 -300px 0 0;
        -moz-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in; // z-index:1;
        // GN: above leaflet map (default is 400)
        z-index: 450;
        ul {
            width: 300px;
            height: 100%;
            padding-top: 8em;
            list-style: none;
            background: $primary-color;
            overflow: hidden;
            margin: 0;
            li {
                margin-left: -40px;
                padding: 1rem 2rem 1rem 3rem;
                border-top: 1px solid $white;
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.3em;
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                    }
                    /* end :hover */
                }
                /* end a */
                &:last-child {
                    border-bottom: 1px solid $white;
                }
            }
            /* end li */
        }
        /* end ul */
    }
    /* end .menu-list */
    label {
        display: block;
        -moz-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        z-index: 500;
        cursor: pointer;
        &.submit-label {
            position: fixed;
            top: 0;
            font-size: 2em;
            background: $primary-color;
            border: 1px solid $white;
            right: 73px;
            padding: 22px 20px;
            span {
                /* plus icon */
                position: relative;
                margin: 12px auto;
                text-indent: -9999px;
                transition: all .1s ease-in;
                width: 35px;
                height: 2px;
                background-color: $white;
                display: block;
                &:before {
                    content: '';
                    position: absolute;
                    top: -17px;
                    right: 17px;
                    transition: all .1s ease-in;
                    width: 2px;
                    height: 35px;
                    background-color: $white;
                    display: block
                }
            }
            &:hover {
                background: $secondary-color;
                span{
                    background-color: $black;
                    &:before {
                        background-color: $black;
                    }
                }
            }
        }
        &.menu-label {
            position: fixed;
            top: 0;
            right: 0;
            font-size: 2em;
            background: $primary-color;
            padding: 22px 16px;
            border: 1px solid $white;
            span {
                /* hamburger icon */
                position: relative;
                margin: 12px auto;
                text-indent: -9999px;
                transition: all .1s ease-in;
                width: 40px;
                height: 2px;
                background-color: #fff;
                display: block;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: -12px;
                    transition: all .1s ease-in;
                    width: 40px;
                    height: 2px;
                    background-color: #fff;
                    display: block
                }
                &:after {
                    top: 12px;
                }
            }
            &:hover {
                background: $secondary-color;
                span {
                    background-color: $black;
                    &:before,
                    &:after {
                        background-color: $black;
                    }
                }
            }
        }
    }
    input#menu[type="checkbox"] {
        display: none;
    }
    input#menu[type="checkbox"]:checked~.menu-list {
        margin: 0;
    }
    input#menu[type="checkbox"]:checked~label.menu-label {
        span {
            /* cross icon */
            background-color: transparent;
            &:before {
                top: -15px;
                -webkit-transform: translateY(15px) rotateZ(45deg);
                -moz-transform: translateY(15px) rotateZ(45deg);
                -ms-transform: translateY(15px) rotateZ(45deg);
                -o-transform: translateY(15px) rotateZ(45deg);
                transform: translateY(15px) rotateZ(45deg);
            }
            &:after {
                top: 15px;
                -webkit-transform: translateY(-15px) rotateZ(-45deg);
                -moz-transform: translateY(-15px) rotateZ(-45deg);
                -ms-transform: translateY(-15px) rotateZ(-45deg);
                -o-transform: translateY(-15px) rotateZ(-45deg);
                transform: translateY(-15px) rotateZ(-45deg);
            }
        }
        &:hover {
            background: $secondary-color;
            span {
                &:before,
                &:after {
                    background-color: $black;
                }
            }
        }
    }
    input#menu:checked+label.menu-label:after {
        /* pseudo hiding plus icon */
        content: "";
        position: absolute;
        top: -1px;
        left: -77px;
        bottom: -5px;
        background: $primary-color;
        width: 76px;
        height: 73px;
    }
}

/* end nav */

/**** SEARCH ****/

section#search {
    .search-field {
        margin-top: 60px;
        width: 100%;
        text-align: center;
        input {
            width: 100%;
            height: 55px;
            padding: 0 20px;
            margin:0 -2%;
            font-size: 1rem;
            border: 1px solid #D0CFCE;
            outline: none;
            &:focus {
                border: 1px solid #008ABF;
                transition: 0.35s ease;
                color: #008ABF;
                &::-webkit-input-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
                &::-moz-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
                &:-ms-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
            }
        }
        button.search-icon {
            position: absolute;
            width: 65px;
            margin: 0 auto;
            padding: 0;
            margin-left: -60px;
            border: none;
            background-color: white;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                width: 35px;
                height: 35px;
                border: 2px solid #333;
                border-radius: 100%;
                top: 8px;
                left: 0;
            }
            &:after {
                content: '';
                position: absolute;
                right: 27px;
                top: 41px;
                width: 12px;
                transform: rotate(45deg);
                border: 1px solid #333;
            }
        }
        button {
            &:hover {
                opacity: 0.6;
            }
        }
    }
    /* end .search-field */
    .search-summary{
        
    }


    .search-filters {
        text-align: center;
        width: 100%;
        margin-top: 2em;
        .filter {
            display: inline-block;
            text-align: left;
            width: 15rem;
            background: $primary-color;
            color: $white;
            &:hover {
                background: $secondary-color;
                color: $black;
            }
            input#filter-nav[type="checkbox"] {
                display: none;
            }
            input#filter-nav[type="checkbox"]:checked~.filter-list {
                margin: 0;
            }
            input#filter-nav:checked+label.filter-label{
                &:after {
                    content: "✕";
                    position: fixed;
                    top: 10px;
                    left: 215px;
                    color: $primary-color;
                    z-index: 501;
                    font-size: 1.3rem;
                    background: $white;
                    padding: 0.4rem 0.7rem;
                }
                &:hover{
                    &:after{
                        background: $secondary-color;
                        color: $black;
                    }
                }
            }
            input#filter-nav[type="checkbox"]:checked~label.filter-label {
                width: 15rem;
                background: $primary-color;
                color: $white;
                &:hover {
                    background: $secondary-color;
                }
            }
            input#filter-nav[type="checkbox"]:checked~section {
                -webkit-transform: translate3d(260px, 0, 0);
                -moz-transform: translate3d(260px, 0, 0);
                -o-transform: translate3d(260px, 0, 0);
                transform: translate3d(260px, 0, 0);
            }
            label.filter-label {
                padding: 0.4rem 1rem;
                cursor: pointer;
                display: inline-block;
                width: 100%;
                text-align: center;
                -moz-transition: all 200ms ease-in;
                -webkit-transition: all 200ms ease-in;
                -o-transition: all 200ms ease-in;
                transition: all 200ms ease-in;
            }
            .filter-list {
                position: fixed;
                top: 0;
                left: 0;
                width: 270px;
                height: 100%;
                margin: 0 0 0 -270px;
                -moz-transition: all 200ms ease-in;
                -webkit-transition: all 200ms ease-in;
                -o-transition: all 200ms ease-in;
                transition: all 200ms ease-in;
                z-index: 500;
                padding: 3rem 1rem 1rem 1rem;
                    background: $primary-color;
                    color: white;
                    overflow: auto;
                label {
                    display: block;
                    -moz-transition: all 200ms ease-in;
                    -webkit-transition: all 200ms ease-in;
                    -o-transition: all 200ms ease-in;
                    transition: all 200ms ease-in;
                    z-index: 500;
                    &.filter-label {
                        width: 100px;
                        font-size: 1rem;
                        text-align: center;
                    }/* end filter-label */
                    span{
                        font-size:0.8rem;
                    }
                    cursor: pointer;
                    &.disabled {
                        cursor: default;
                    }
                }/* end label */
                h2{
                    width:5.5rem;
                    display: inline-block;
                }
                h4{
                    margin:0.5rem 0;
                }
                button {
                    font-size: 0.6rem;
                    border: none;
                    background-color: $primary-color;
                    cursor: pointer;
                    margin: 1rem 0;
                    padding:0;
                    text-transform: uppercase;
                    color: $white;
                    display: inline-block;
                    &:hover {
                        border-bottom: 1px solid $white;
                    }
                }/* end button */
                ul{
                    li{
                        list-style-type: none;
                        margin:0.5rem 0 0.5rem -30px;
                        /*input{
                            // GN: temporarily removed this otherwise I
                            // can't see whether a checkbox is ticked or not!
                            // -webkit-appearance: none;
                            // -moz-appearance: none;
                            border-radius: 5px;
                            background-color: $white;
                            box-shadow: none;
                            border-radius: 0;
                            width: 15px;
                            height: 15px;
                            vertical-align: bottom;
                            -webkit-border-radius: 0px;
                            outline: 0;
                        }*/
                        input {
                          position: absolute; // take it out of document flow
                          opacity: 0; // hide it

                          & + label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                          }

                          // Box.
                          & + label:before {
                            content: '';
                            margin-right: 10px;
                            display: inline-block;
                            vertical-align: text-top;
                            width: 20px;
                            height: 20px;
                            background: white;
                          }

                          // Box hover
                          &:hover + label:before {
                            background: $secondary-color;
                          }
                          
                          // Box focus
                          &:focus + label:before {
                            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                          }

                          // Box checked
                          &:checked + label:before {
                            background: $secondary-color;
                          }
                          
                          // Disabled state label.
                          &:disabled + label {
                            color: $lightgray;
                            cursor: auto;
                            opacity: 0.5;
                          }

                          // Disabled box.
                          &:disabled + label:before {
                            box-shadow: none;
                            background: $lightgray;
                            opacity: 0.7;
                          }

                          // Checkmark. Could be replaced with an image
                          &:checked + label:after {
                            content: '';
                            position: absolute;
                            left: 5px;
                            top: 9px;
                            background: $black;
                            width: 2px;
                            height: 2px;
                            box-shadow: 
                              2px 0 0 $black,
                              4px 0 0 $black,
                              4px -2px 0 $black,
                              4px -4px 0 $black,
                              4px -6px 0 $black,
                              4px -8px 0 $black;
                            transform: rotate(45deg);
                          }
                        }


                    }
                }
            }/* end .filter-list */
            .multi-select {
                display: none;
            }
        }
        /* end #filter */
    }
    /* end .search-filters */
}

/* end section #search */

/**** SEARCH RESULTS ****/
section#results {
    margin: 0 auto; // padding-top: 70px;
    padding-top: 40px;
    position: relative;
    width:55%;
    float:left;
    input,
    section,
    article {
        clear: both;
        padding-top: 10px;
        display: none;
    }
    label {
        font-size: 18px;
        display: block;
        display: inline-block;
        padding: 1rem;
        cursor: pointer;
        text-decoration: none;
        border-right: 1px solid $white;
        color: $gray;
        -moz-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        &:hover {
            color: $secondary-color;
            label{
                color:$black;
            }
        }
    }
    .sort {
        width: 11em;
        float: right;
        margin-top: 0.7rem;
        position: relative;
        text-align: right;
      select {
        font-family: "helvetica neue", helvetica;
        font-size: 1rem;
        font-weight: 200;
        max-width: 100%;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $gray;
      }
    }
    /* end .sort */
    .itemsperpage {
        width: 12rem;
        text-align: right;
        float: right;
         position: relative;
        margin-top: 0.7rem;
         select {
        font-family: "helvetica neue", helvetica;
        font-size: 1rem;
        font-weight: 200;
        max-width: 100%;
        padding: 8px 24px 8px 10px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -2px;
        right: 8px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $gray;
      }
    }
    /* end .itemsperpage */
    #tab1:checked~#photo-grid,
    #tab2:checked~#photo-list,
    #tab3:checked~#photo-map {
        display: block;
        background: #fff;
        color: $primary-color;
    }
    [id^="tab"]:checked+label {
        color: $primary-color;
        -moz-transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        &:hover {
            color: $secondary-color;
        }
    }

    article {
        &#photo-grid {
            .photo {
                display: inline-block;
                vertical-align: top;
                position: relative;
                width: 32%;
                margin-bottom: 2%; //border-bottom:1px solid $white;
                &:nth-child(3n+1) {
                    /* 1st,4th,7th, 10th etc. */
                    margin-right: 2%; //border-right:1px solid $white;
                }
                &:nth-child(3n+3) {
                    /* 3rd, 6th, 9th, 12th etc. */
                    margin-left: 2%; //border-left:1px solid $white;
                }
                .photo-image {
                    width: 100%;
                    padding-bottom: 100%;
                    overflow: hidden;
                    position: relative;
                    border: 3px solid $white;
                    &:hover {
                        border: 3px solid $secondary-color;
                    }
                    img {
                        width: $image-crop-scale;
                        height: auto;
                        margin: auto;
                        position: absolute;
                        top: -100%;
                        right: -100%;
                        bottom: -100%;
                        left: -100%;
                    }
                }
                .photodata {
                    a {
                        text-decoration: none;
                        h2 {
                            color: black;
                            font-size: 1.3rem;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }
                .photobuttons{
                    position:absolute;
                    top:3vw;
                    opacity:0;
                    transition:opacity 0.3s linear;
                    text-align:center;
                    width:100%;
                    margin-bottom: 0; //border-bottom:1px solid $white;

                    a.view-map,a.view-details{
                        text-align:center;
                        background-color:rgba(37,116,120,0.8);
                        display: inline-block;
                        padding:0.5rem 0.5rem;
                        font-size:1rem;
                        color:$white;
                        font-weight: normal;
                        margin:1vw 0.5rem;
                        text-decoration: none;
                        width:80%;
                        &:hover{
                            background-color:rgba(255,200,0,0.7);
                            color:$black;
                            cursor: pointer;
                        }
                    }
                }/* end .photobuttons */
                &:hover{
                    .photobuttons{
                      opacity:1;
                      h3{
                        opacity:1;
                      }
                    }
                }

            }
            /* end .photo */
        }
        /* end #content1 Grid */
        &#photo-list {
            .photo {
                .photo-image {
                    width: 25%;
                    padding-bottom: 25%;
                    margin-right: 2%;
                    display: inline-block;
                    margin-bottom: 2%;
                    overflow: hidden;
                    position: relative;
                    border: 1px solid #f1f1f1;
                    img {
                        width: $image-crop-scale;
                        height: auto;
                        margin: auto;
                        position: absolute;
                        top: -100%;
                        right: -100%;
                        bottom: -100%;
                        left: -100%;
                    }
                }
                .photodata {
                    width: 71%; //
                    display: inline-block;
                    vertical-align: top;
                    h2 {
                        margin-top: 0;
                        font-size: 1rem;
                        color: black;
                        font-weight: normal;
                    }
                }
                /* end .photodata */
                .photobuttons{
                    width: 71%;
                    display: inline-block;
                    vertical-align: top;
                    a.view-map,a.view-details{
                        text-align:center;
                        background-color:$primary-color;
                        display: inline-block;
                        padding:0.3rem 0.5rem;
                        font-size:0.9rem;
                        color:$white;
                        font-weight: normal;
                        margin:0.2rem 0.5rem 0.2rem 0;
                        text-decoration: none;
                        &:hover{
                            background-color:$secondary-color;
                            color:$black;
                            cursor: pointer;
                        }
                    }
                }/* end .photobuttons */
            }/* end .photo */
        }/* end #content2 List */

    }/* end article */
    #photo-map {
        clear: both;
        display: block;
        position: absolute; // GN: use margin on map-leaflet instead, leave margin & padding = 0 on this element
        // top: 8.6rem;
        top: 0; // keep this to 0
        padding-top: 0;
        right: 0;
        width: 75%;
        margin-right: -82%;
        /* GN: goes all the way down to the footer */
        height: 100%;
        #map-leaflet {
            // GN: pushed it up a little so we can see more of the map on page load
            // also because it's not affected by the pagination and other controls
            // on the left hand side.
            height: 40vh;
            margin: 2rem 0;
        }
    }
    label {
        &[for=tab3] {
            display: none;
        }
    }
} /* end section#results */

// GN: pagination
.pagination-wrapper {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
    float: left;
    .stats {}
    .pagination {
        float: right;
    }
    .button {
    cursor: pointer;
    text-decoration: none;
    color: $black;
        &:hover {
            color: $primary-color;
        }
    &[href=''] {
        opacity: 0;
    }
    }

    a.button.page-prev,
    a.button.page-next {
        background: $primary-color;
        padding: 0.5rem 1rem;
        color: $white;
        &:hover {
            background: $secondary-color;
            color: $black;
        }
    }

    a.button.page-prev {
        margin-right: 2rem;
    }

    a.button.page-next {
        margin-left: 2rem;
    }
}

.page-more-wrapper {
    text-align: center;
    margin: 0 auto 1rem auto;
    a {
        color: $white;
        text-decoration: none;
        text-decoration: none;
        background: $primary-color;
        padding: 0.4rem 1rem;
        &:hover {
            color: $black;
            background: $secondary-color;
        }
    }
}

.hidden {
    display: none;
}

.staff-link {
    font-style: italic;
}

.sticky {
    padding: 0;
    width: 100%;
    background-color: $secondary-color;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
}

/**** PHOTO PAGE ****/

section#photo {
    margin-top: 3rem;
    .photo-image {
        width: 60%;
        display: inline-block;
        margin-right: 4%;
        border: 1px solid #f1f1f1;
        img {
            width: 100%;
            height: auto;
        }
    }
    .photo-data {
        width: 35%;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1rem;
        h3 {
            color: $primary-color;
            font-size: 0.7rem;
            text-transform: uppercase;
            margin: 0 0 0.2rem 0;
            font-weight: 100;
        }
        p {
            margin: 0 0 2rem 0;
            .flag-button{
                padding:0.6rem 0.8rem;
                background: lighten($lightgray, 4%);
                text-decoration: none;
                color: lighten($black,50%);
                font-size: 0.8rem;

                &:before{
                    background: $white;
                    content:"!";
                    padding:0.2rem 0.6rem;
                    height:auto;
                    border-radius: 50%;
                    color: lighten($black,50%);
                    font-weight: bold;
                    margin-right: 0.5rem;
                }
                &:hover{
                    background: $secondary-color;
                    color: $black;
                    &:before{
                        background: $white;
                        color: $black;
                    }
                }
            }
        }
        ul {
            margin: 0 0 2rem -40px;
            li {
                list-style-type: square;
            }
        }
    }
}

// Map on the Photo page
section#photo-map {
    margin-top: 3rem;
    h3 {
        color: $primary-color;
        font-size: 0.7rem;
        text-transform: uppercase;
        margin: 0 0 0.2rem 0;
        font-weight: 100;
    }
}

#map-leaflet {
    height: 25vh;
    min-height: 20rem;
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid $lightgray;
}

// Submission Form
.submission-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2% 0;
    background-color: lighten($lightgray, 7%);
    padding: 1rem 2rem;

    .file-input{

        background:$white;
        padding:1.5rem;
        input[type="file"] {
          width: 100%;
          border:1px dashed $gray;
          font-family: "Raleway", "helvetica neue", helvetica;
          &::-webkit-file-upload-button {
            background: $primary-color;
            border: 0;
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            color: $white;
            text-transform: uppercase;
            &:hover{
                background: $secondary-color;
                color: $black;
            }
          }
          &::-ms-browse {
            background: $primary-color;
            border: 0;
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            color: $white;
            text-transform: uppercase;
            &:hover{
                background: $secondary-color;
                color: $black;
            }
          }

        }
    }

    input[type=date],
    input[type=text],
    input[type=email],
    input[type=phone],
    input[type=number],
    textarea {
        margin: 10px 0;
    }
    textarea {
        min-height: 150px;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: block;
        width: 100%;
        font-size: 17px;
        border: 1px dashed $gray;
        border-radius: 5px;
        background-color: $white;
        box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0px;
    }
    .button-wrapper {
        width: 100%;
        padding-top: 1rem;
        text-align: center;
        height: 100px;
        .back,
        .next {
            width: 40%;
            float: left;
            padding: 1% 4%;
            background: $primary-color;
            cursor: pointer;
            color: $white;
            -moz-transition: all 200ms ease-in;
            -webkit-transition: all 200ms ease-in;
            -o-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
            &:hover {
                background: $secondary-color;
                color: $black;
            }
        }
        .back {
            float: left;
        }
        .next {
            float: right;
        }
    }
    p {
        text-align: justify;
    }
    h3{
        font-size: 1.6rem;
        font-weight: bold;
        padding: 10px 0;
        border-bottom: 1px solid rgba(103, 103, 103, 0.2);
        border-top: 1px solid rgba(103, 103, 103, 0.2);
        margin: 0 -15px 0 -15px;
        background-color: $primary-color;
        border-top: 0;
        position: relative;
        color: #fff;
        text-shadow: 0 0 5px darken($primary-color, 60%);
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        text-align: center;
        margin-left: -1.9em;
        margin-bottom: 2rem;
        width: calc(100% + 100px);
        /*&:after{
            position: absolute;
            bottom: -8px;
            left: 0px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 15px 8px 0;
            border-color: transparent darken($primary-color, 15%) transparent transparent;
        }*/
    }
    h4{
        margin:0;
    }
    ul{
        margin-left: -40px;
        li{
            list-style-type: none;
        }
    }

    hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    margin:1.5rem 0;
    }

    // GN: temp styles
    label {
      display: block;
      margin: 1rem 0;
      input, select {
        margin-top: 0.5rem;
      }
      input[type=text]{
        -webkit-appearance: none;
        -moz-appearance: none;
        display: block;
        width: 100%;
        font-size: 17px;
        border: 1px dashed $gray;
        border-radius: 5px;
        background-color: $white;
        box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0px;
        }
    }
    .photo-date {
        display:inline-block;
        width:49%;
      input,select {
        width: 70%;
        border: 1px dashed $gray;
        height: 2rem;
        padding: 0.3rem;
        margin:0 2%;
        }
        select{
            border-radius: 0;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
            background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 1px 1.5em;
            background-repeat: no-repeat;
            -moz-appearance: none;
          }
    }

    /* Form label and placeholder */
    .form-field {
        margin-bottom: 20px;
        position: relative;
        input {
            position: relative;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #DDD;
            background-color: transparent;
            margin: 0px auto;
            height: 42px;
            outline: none !important;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.8);
            background: -webkit-linear-gradient(bottom, #51BBBE 50%, #51BBBE 50%);
            background: linear-gradient(to top, #51BBBE 50%, #51BBBE 50%);
            background-position: left bottom;
            background-size: 0 1px;
            background-repeat: no-repeat;
            transition: all .2s ease-in-out;
        }
        ::-webkit-input-placeholder {
            color: #DDD;
            font-size: 13px;
            font-weight: 200;
        }
        :-moz-placeholder {
            color: #DDD;
            font-size: 13px;
            font-weight: 200;
        }
        ::-moz-placeholder {
            color: #DDD;
            font-size: 13px;
            font-weight: 200;
        }
        :-ms-input-placeholder {
            color: #DDD;
            font-size: 13px;
            font-weight: 200;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            text-align: left;
            display: block;
            width: 100%;
            height: 42px;
            line-height: 40px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 200;
            background: transparent;
            color: rgba(0, 0, 0, 0.6);
            margin: 0px auto;
            cursor: text;
            transition: all .15s ease-in-out;
        }
        input:hover,
        input:focus {
            border-color: #51BBBE;
        }
        input:focus {
            background-position: left bottom;
            background-size: 100% 1px;
        }
        input:valid+label,
        input:focus+label {
            height: 20px;
            line-height: 0;
            font-size: 10px;
            color: #51BBBE;
        }
        input:focus ::-webkit-input-placeholder {
            color: transparent;
            font-size: 0;
        }
        input:focus :-moz-placeholder {
            color: transparent;
            font-size: 0;
        }
        input:focus ::-moz-placeholder {
            color: transparent;
            font-size: 0;
        }
        input:focus :-ms-input-placeholder {
            color: transparent;
            font-size: 0;
        }
        textarea {
            position: relative;
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid #DDD;
            background-color: transparent;
            margin: 0px auto;
            height: 32px;
            padding-top: 10px;
            outline: none !important;
            font-size: 20px;
            color: rgba(0, 0, 0, 0.8);
            background: -webkit-linear-gradient(bottom, #51BBBE 50%, #51BBBE 50%);
            background: linear-gradient(to top, #51BBBE 50%, #51BBBE 50%);
            background-position: left bottom;
            background-size: 0 1px;
            background-repeat: no-repeat;
            transition: all .2s ease-in-out;
            ::-webkit-input-placeholder {
                text-align: left;
                color: #DDD;
                font-size: 13px;
                font-weight: 200;
                margin-top: 30px;
            }
            :-moz-placeholder {
                text-align: left;
                color: #DDD;
                font-size: 13px;
                font-weight: 200;
                margin-top: 30px;
            }
            ::-moz-placeholder {
                text-align: left;
                color: #DDD;
                font-size: 13px;
                font-weight: 200;
                margin-top: 30px;
            }
            :-ms-input-placeholder {
                text-align: left;
                color: #DDD;
                font-size: 13px;
                font-weight: 200;
                margin-top: 30px;
            }
        }
        textarea:hover,
        textarea:focus {
            border-color: #51BBBE;
        }
        textarea:focus {
            background-position: left bottom;
            background-size: 100% 1px;
        }
        textarea:valid+label,
        textarea:focus+label {
            line-height: 0;
            font-size: 10px;
            color: #51BBBE;
            padding-top: 0;
        }
        ::-webkit-input-placeholder {
            opacity: 0;
            transition: inherit;
        }
        /**
    * Show the placeholder when the input is focused.
    */
        input:focus::-webkit-input-placeholder {
            opacity: 1;
        }
        /* Show the placeholder when the input is focused.
    */
        textarea:focus::-webkit-input-placeholder {
            opacity: 1;
            padding-top: 5px;
        }
    }
    /* Multi-Part CSS */
    input[type=checkbox] {
        position: absolute;
        /* Position the checkbox in upper left corner */
        opacity: 0;
    }
    /* Override */
    input[type=checkbox].show {
        opacity: 1;
        position: relative;
    }
    /* Styling Parts */
    #part1,
    #part2,
    #part3,
    #part4,
    #part5,
    #part6,
    #part7 {
        z-index: 2;
        display: block;
        height: auto;
        opacity: 1;
        -moz-transition: all 1s ease-in;
        -webkit-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        transition: all 1s ease-in;
    }
    /* Hidden Parts */
    #part2,
    #part3,
    #part4,
    #part5,
    #part6,
    #part7 {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    /* Show Step 2 & Hide Step 1 */
    #step2:checked~#part2 {
        opacity: 1;
        height: auto;
    }
    #step2:checked~#part1 {
        opacity: 0;
        height: 0;
        display: none;
    }
    /* Show Step 3  & Hide Step 2 */
    #step3:checked~#part3 {
        opacity: 1;
        height: auto;
    }
    #step3:checked~#part2 {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* Show Step 4  & Hide Step 3 */
    #step4:checked~#part4 {
        opacity: 1;
        height: auto;
    }
    #step4:checked~#part3 {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* Show Step 5  & Hide Step 4 */
    #step5:checked~#part5 {
        opacity: 1;
        height: auto;
    }
    #step5:checked~#part4 {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* Show Step 6  & Hide Step 5 */
    #step6:checked~#part6 {
        opacity: 1;
        height: auto;
    }
    #step6:checked~#part5 {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* Show Step 7  & Hide Step 6 */
    #step7:checked~#part7 {
        opacity: 1;
        height: auto;
    }
    #step7:checked~#part6 {
        opacity: 0;
        width: 0;
        height: 0;
    }
} /* End .submission-form */

// Footer
footer {
    width: 100%;
    float: left;
    margin-top: 1rem;
    background: $white;
    border-top: 1px solid black;
    ul {
        display: block;
        width: 100%;
        margin-left: -20px;
        &.logo {
            >li {
                display: inline-block;
            }
        }
    }
    p {
        font-size: 0.8rem;
    }
    a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            color: lighten($primary-color, 25%);
        }
    }
    img {
        margin: 1rem;
        max-width: none;
        width: auto;
        height: 4rem;
        &:hover {
            opacity: 0.6;
        }
    }
    ul {
        list-style-type: none;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
section#results {
    width:100%;
    float:left;
      
    article {
        &#photo-grid {
            .photo {
                .photobuttons{
                    top:7vw;
                    a.view-map,a.view-details{
                        margin:2vw 0.5rem;
                    }
                }/* end .photobuttons */
            }/* end .photo */
        }
        /* end #content1 Grid */
    }/* end article */
        #photo-map {
            position: relative; // GN: use margin on map-leaflet instead, leave margin & padding = 0 on this element
            padding-top:0.2rem;
            width: 100%;
            margin-right: 0;
            display:none;
            #map-leaflet {
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        label {
            &[for=tab3] {
                display:inline-block;
            }
        }
} /* end section#results */


}/* end @media screen and (min-width: 1200px) */




@media screen and (max-width: 800px) {

/**** SEARCH RESULTS ****/

    section#results {
        label {
            padding: 0.7rem;
        }
        .sort {
            width: 60%;
            float: right;
            text-align: left;
            margin:0 0 0.8rem 0;
          &:after {
            left: 135px;
          }
        }
        /* end .sort */
        .itemsperpage {
            width: 40%;
            text-align: left;
            float: right;
            margin:0 0 0.8rem 0;
          &:after {
            left: 160px;
          }
      }
      article {
            &#photo-grid {
                .photo {
                    .photobuttons{
                        top:5vw;
                    }/* end .photobuttons */
                }/* end .photo */
            }/* end #content1 Grid */
        }/* end article */
  }
  /**** PHOTO PAGE ****/
    section#photo {
        margin-top: 3rem;
        .photo-image {
            width: 100%;
            margin-right: 0;
        }
        .photo-data {
            width: 100%;
            margin-top: 2rem;
        }
    }

    section#photo-map {
        margin-top: 1rem;
    }
}/* end @media screen and (max-width: 800px) */

@media screen and (max-width: 500px) {
    body{
        margin: 0 3%;
        width: 94%;
    }
    /*nav*/
    nav {
        label {
            &.submit-label {
                right: 57px;
                padding: 22px 10px;
            }
            &.menu-label {
                padding: 22px 8px;

            }
        }
    }
    /* end nav */
    section#results {
        .sort {
            width: 100%;
            margin:0 0 0 0;
        }
        /* end .sort */
        .itemsperpage {
            width: 100%;
            margin:0 0 0.4rem 0;
        }
        article {
            &#photo-grid {
                .photo {
                    display: inline-block;
                    vertical-align: top;
                    position: relative;
                    width: 33%;
                    &:nth-child(3n+1) {
                        /* 1st,4th,7th, 10th etc. */
                        margin-right: 0; //border-right:1px solid $white;
                    }
                    &:nth-child(3n+3) {
                        /* 3rd, 6th, 9th, 12th etc. */
                        margin-left: 0; //border-left:1px solid $white;
                    }
                    .photobuttons{
                        top:5vw;
                        a.view-map,a.view-details{
                            width: 90%;
                            font-size:0.8rem;
                            margin:0.3rem 0;
                        }
                    }/* end .photobuttons */
                }/* end .photo */
            }/* end #content1 Grid */
            &#photo-list {
                .photo {

                    .photo-image {
                        width: 100%;
                        padding-bottom: 100%;
                        margin-top: 1rem;

                    }
                    .photodata {
                        width: 100%;
                        h2{
                            margin-bottom: 0.3rem;
                        }
                    }/* end .photodata */
                    .photobuttons{
                        width:100%;
                        a.view-map,a.view-details{
                            width: 45%;
                        }
                    }/* end .photobuttons */
                }/* end .photo */
            }/* end #photo-list */
        }/* end article */
    } /*end section#results */
    .page-more-wrapper {
        margin: 0.8rem auto 1rem auto;
    }
    // Submission Form
    .submission-form {
        padding: 0.5rem 1rem;
        label{
            margin:0.5rem 0;
        }
        ul{
            margin: 0 0 1rem -40px;
        }
        .photo-date {
            display:inline-block;
            width:100%;
            input, select{
                float: right;
                margin:0;
            }
        }/* end .photo-data */
    }/* end .submission-form */
}/* end @media screen and (max-width: 500px) */

@media screen and (max-width: 350px) {
    /**** HEADER ****/
    header {
        a {
            font-size: 1.5rem;
        }
    }
    section#results {
        label {
            padding:2vw;
            font-size: 1rem;
        }
        article {
            &#photo-grid {
                .photo {
                    .photobuttons{
                        top:2.5vw;
                        a.view-map,a.view-details{
                            font-size:0.7rem;
                            margin:0.3rem 0;
                            padding:0.5rem 0;
                        }
                    }/* end .photobuttons */
                }/* end .photo */
            }/* end #content1 Grid */
            &#photo-list {
                .photo {
                    a.view-map,a.view-details{
                        width: 50%;
                    }/* end .photobuttons */
                }/* end .photo */
            }/* end #photo-list */
        }/* end article */
    } /*end section#results */
    .pagination-wrapper {
        a.button.page-prev,
        a.button.page-next {
            padding: 0.5rem 0.8rem;
        }

        a.button.page-prev {
            margin-right: 0.2rem;
        }

        a.button.page-next {
            margin-left: 0.2rem;
        }
    }
    footer{
        img{
            width:90%;
            height:auto;
        }
    }
} /* end @media screen and (max-width: 350px) */

@media screen and (max-width: 270px) {
    section#results {
        article {
            &#photo-grid {
                .photo {
                    .photobuttons{
                        display:none;
                    }/* end .photobuttons */
                }/* end .photo */
            }/* end #content1 Grid */
        }/* end article */
    } /*end section#results */
}/* end @media screen and (max-width: 270px) */

@media (hover: none) {
    section#results {
        article {
            &#photo-grid {
                .photo {
                    .photobuttons{
                        display:none;
                    }/* end .photobuttons */
                }/* end .photo */
            }/* end #content1 Grid */
        }/* end article */
    } /*end section#results */
}/* end @media (hover: none) */


// GN - front-end flash message box to provide feedback to user actions
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

// GN: to make it explicit that we want a button,
// otherwise all a or input on the form-flag is a button!
.btn{
    background: $primary-color;
    color: $white;
    text-decoration: none;
    padding:0.5rem 1rem;
    &:hover{
        background: $secondary-color;
        color: $black;
    }
    font-family: "Raleway", "helvetica neue", helvetica;
    font-size: 1rem;
    border: 0;
    cursor: pointer;
}

// see form to flag a photo as inappropriate
.form-flag {
    display: none;
    padding: 1rem;
    margin: 0.5rem auto;
    max-width: 40rem;
    background-color: lighten($lightgray, 7%);
    text-align: center;
    border-top:10px solid $secondary-color;
    textarea {
        width: 100%;
        height: 5rem;
        border: 1px dashed $gray;
    }
}

ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        color: #a94442;
        font-weight: bold;
    }
}

// .photo-image a {
//     position: fixed;
// }
.map-img img {
    min-width: 240px;
}

.btn-show-on-map {
    position: absolute;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    color: #257478;
    z-index: 2;
    &:hover {
        color: #FFC800;
    }
}

#upload-preview {
    display: none;
    max-width: 100%;
    max-height: 15em;
    &.show {
        display: block;
        margin: 1rem auto 0 auto;
    }
}

#id_author_feeling_category li:first-child {
    display: none;
}

// GN: made the Wagtail images responsive so they scale to mobile devices
// E.g. About page
img.richtext-image {
    max-width: 100%;
    height: auto;
}

div#id_location_map {
    width: auto;
}

div#id_location_div_map {
    float: none;
}

.clear_features {
    display: none;
}
