{% load staticfiles %}

<ul class="logo">
    <li>
        <a href="//winchester.ac.uk" title="Winchester University">
            <img src="{% static 'images/winchester-logo.jpg' %}" alt="Winchester University">
        </a>
</ul>
<ul>
    <li>
        <p>
            Designed, developed and maintained by <a href="//www.kdl.kcl.ac.uk/" title="King's Digital Lab">King's Digital Lab</a>
        </p>
        {% if FOOTER_HTML %}
            {{ FOOTER_HTML|safe }}
        {% endif %}
    </li>
</ul>

