{% extends 'base.html' %}
{% load mmee_wagtail_tags staticfiles compress %}

{% block meta_title %}Upload a Photo{% endblock %}

{% block main %}
<div class="submission-form">
  <form action="" method="POST" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

    {% if form.has_errors %}
        <div class="form-general-errors">
            Some fieds are invalid, please correct the errors and resubmit.
          {{ form.non_field_errors }}
        </div>
    {% endif %}

    <input id='step2' type='checkbox' aria-label="step 2">
    <input id='step3' type='checkbox' aria-label="step 3">

  <div id="part1" class="step">
    <h1>Submission form</h1>
      <div class='file-input'>
        {% form_field form.image_file accept="image/png, image/jpeg, image/jpg" aria_label="upload photo" autocomplete="off" %}
        <img id="upload-preview" alt="Image upload preview">
      </div>

      <hr>
      <h4>Date photo was taken</h4>
      <label class="photo-date">Month
          {% form_field form.taken_month %}
      </label>
      <label class="photo-date">Year
          {% form_field form.taken_year placeholder="e.g. 2019" %}
      </label>
      <hr>

      <h4>Location</h4>
      <p>Click the point on the map where the photo was taken. A blue circle will represent that location. Then drag & drop the circle to adjust the location.</p>
      <p>You can also <a href="javascript:geodjango_location.clearFeatures()">remove the circle</a> to start again.</p>
      {% form_field form.location %}

      {# step 2 #}
      <hr>

      {% form_field form.author_focus_keywords placeholder="" label="In five keywords or less, what is the main focus in the photo you took?" autocomplete="off" %}

      {# step 3 #}
      <hr>

      {% form_field form.author_feeling_category placeholder="" label="How do you feel about this photo?" %}
      <hr>
      {% form_field form.author_feeling_keywords placeholder="" label="In three keywords or less, describe that feeling." autocomplete="off" %}

      {# step 4 #}
      <hr>

      {% form_field form.author_reason placeholder="" label="Why did you take this photo?" autocomplete="off" %}

      {# step 5 #}
      <hr>

      {% form_field form.age_range placeholder="" label="What age category are you?" %}
      <hr>
      {% form_field form.gender placeholder="" label="What do you identify as?" %}

      {% form_field form.gender_other placeholder="" label="If other, please specify" autocomplete="off" %}
      <hr>
    <div class="button-wrapper">
      <a href="/"><label class="back">Cancel</label></a>
      <label for='step2' id="continue-step2" class="next">Next</label>
    </div>

  </div>

  <div id="part2" class="step">
      <h3>Consent Information</h3>
      <p>I understand that this image will only be used by Sensing Place,
      and by uploading this photograph and associated information,
      I confirm that this image and associated text will not cause any offence,
      embarrassment or distress. I understand that the image and/or text
      may not be made public if it seemed inappropriate by the moderators.
      By uploading this image and associated text, I give permission for
      Sensing Place to use them on their public website, and for research
      purposes related to this website.
      </p>

      {{ form.consent.errors }}
      <label>
          {% form_field form.consent class="show" %}
          I have read and accept the terms
      </label>

      <div class="button-wrapper">
        <label for='step2' id="back-step2" class="back">
          Back
        </label>
        <label id="continue-step3" class="next last" >
          Submit
          <input type="submit" value="Submit" name="Submit" class="hidden submit">
        </label>
      </div>
    </div>

  </form>

</div>
{% endblock main %}

{% block footer_scripts %}
    {{ block.super }}

    <script src="{% static 'exif-js/exif.js' %}"></script>
    <script>
    // TODO: move to js file
    $(function() {
        var $form = $('.submission-form > form');

        if (1) {
            $(document).on('click', '.next:not(:has(.submit))', function(e) {
                // Don't let user go to next step if invalid inputs in current
                // one
                var is_step_valid = 1;
                $(this).parents('.step').find(':input').each(function() {
                    is_step_valid &= this.checkValidity();
                });
                if (!is_step_valid) {
                    // this forces the browser to show the error messages
                    $form.find('.submit').click();
                    // we don't go to next step
                    e.preventDefault();
                    return false;
                }
            });
        }

        $preview = $('#upload-preview');
        $preview[0].addEventListener('load', image_loaded);

        function image_loaded() {
            $preview.addClass('show');

            var year = '';
            var month = 0;

            // https://github.com/exif-js/exif-js
            $preview[0].exifdata = null;
            EXIF.getData($preview[0], function() {
                var exif_data = EXIF.getAllTags($preview[0]);
                // console.log(exif_data);
                // DateTimeOriginal: "2018:12:20 21:15:59"
                var date = exif_data.DateTimeOriginal;
                if (date) {
                    date_parts = date.split(':');
                    year = date_parts[0];
                    month = parseInt(date_parts[1]);
                }

                // center map on Image GPS coordinates
                // also add a point there.
                var lon = exif_data.GPSLongitude;
                var lat = exif_data.GPSLatitude;
                var photo_location_is_working = true;
                geodjango_location.clearFeatures();
                if (photo_location_is_working && lat && lon) {
                    // deg, min, sec => float
                    var coord = [lon, lat].map(function(v) {
                        return parseFloat(v[0].toString())
                            + parseFloat(v[1].toString()) / 60.0
                            + parseFloat(v[2].toString()) / 60.0 / 60.0;
                    });
                    // coord = [1, 53]; coord = ol.proj.transform(coord, 'EPSG:4326', 'EPSG:3857'); geodjango_location.map.getView().setCenter(coord);
                    if (exif_data.GPSLongitudeRef == 'W') coord[0] = -coord[0];
                    if (exif_data.GPSLatitudeRef == 'S') coord[1] = -coord[1];
                    coord = ol.proj.transform(coord, 'EPSG:4326', 'EPSG:3857');
                    geodjango_location.map.getView().setCenter(coord);
                    geodjango_location.map.getView().setZoom(15);
                    geodjango_location.featureCollection.push(new ol.Feature({
                        geometry: new ol.geom.Point(coord)
                    }));
                }
            });

            $('#id_taken_year').val(year);
            $('#id_taken_month').val(month);
        };

        $('input[type=file]').change(function() {
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $preview.attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        });

    })
    </script>
{% endblock %}
