{% extends 'base.html' %}
{% load mmee_wagtail_tags staticfiles compress %}

{% block meta_title %}Upload a Photo{% endblock %}

{% block main %}
<div class="submission-form">
  <form action="" method="POST" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}

    {% if form.has_errors %}
        <div class="form-general-errors">
            Some fieds are invalid, please correct the errors and resubmit.
          {{ form.non_field_errors }}
        </div>
    {% endif %}

    <input id='step2' type='checkbox'>
    <input id='step3' type='checkbox'>
    <input id='step4' type='checkbox'>
    <input id='step5' type='checkbox'>
    <input id='step6' type='checkbox'>
    <input id='step7' type='checkbox'>

  <div id="part1" class="step">
    <h3>Submission form</h3>
      <div class='file-input'>
        {% form_field form.image_file accept="image/png, image/jpeg, image/jpg" aria_label="upload photo" autocomplete="off" %}
        <img id="upload-preview" alt="Image upload preview">
      </div>

      <hr>
      <label class="photo-date">Date taken (month - year)<br>
          {% form_field form.taken_month %}
          <span> - </span>
          {% form_field form.taken_year placeholder="e.g. 2019" %}
      </label>

      <hr>
      {% form_field form.location %}

      {# step 2 #}
      <hr>

      {% form_field form.author_focus_keywords placeholder="" label="In five keywords or less, what is the main focus in the photo you took?" autocomplete="off" %}

      {# step 3 #}
      <hr>

      {% form_field form.author_feeling_category placeholder="" label="How do you feel about this photo?" %}
      <hr>
      {% form_field form.author_feeling_keywords placeholder="" label="In three keywords of less, list that feeling." autocomplete="off" %}

      {# step 4 #}
      <hr>

      {% form_field form.author_reason placeholder="" label="Why did you take this photo?" autocomplete="off" %}

      {# step 5 #}
      <hr>

      {% form_field form.age_range placeholder="" label="What age category are you?" %}
      <hr>
      {% form_field form.gender placeholder="" label="What do you identify as?" %}

      {% form_field form.gender_other placeholder="" label="If other, please specify" autocomplete="off" %}
      <hr>
    <div class="button-wrapper">
      <a href="/"><label class="back">Cancel</label></a>
      <label for='step2' id="continue-step2" class="next">Next</label>
    </div>

  </div>

  <div id="part2" class="step">
      <h3>Step 7: Consent Information</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      {{ form.consent.errors }}
      <label>
          {% form_field form.consent class="show" %}
          I have read and accept the terms
      </label>

      <div class="button-wrapper">
        <label for='step2' id="back-step2" class="back">
          Back
        </label>
        <label id="continue-step3" class="next last" >
          Submit
          <input type="submit" value="Submit" name="Submit" class="hidden submit">
        </label>
      </div>
    </div>

  </form>

</div>
{% endblock main %}

{% block footer_scripts %}
    {{ block.super }}

    <script src="{% static 'exif-js/exif.js' %}"></script>
    <script>
    // TODO: move to js file
    $(function() {
        var $form = $('.submission-form > form');
        if (1) {
            $(document).on('click', '.next:not(:has(.submit))', function(e) {
                // Don't let user go to next step if invalid inputs in current
                // one
                var is_step_valid = 1;
                $(this).parents('.step').find(':input').each(function() {
                    is_step_valid &= this.checkValidity();
                });
                if (!is_step_valid) {
                    // this forces the browser to show the error messages
                    $form.find('.submit').click();
                    // we don't go to next step
                    e.preventDefault();
                    return false;
                }
            });
        }

        $('input[type=file]').change(function() {
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $preview = $('#upload-preview');
                    $preview.attr('src', e.target.result);
                    $preview.addClass('show');

                    // https://github.com/exif-js/exif-js
                    EXIF.getData($preview[0], function() {
                        var exif_data = EXIF.getAllTags(this);
                        console.log(exif_data);
                        // DateTimeOriginal: "2018:12:20 21:15:59"
                        var date_parts = exif_data.DateTimeOriginal.split(':');
                        if (date_parts) {
                            $('#id_taken_year').val(date_parts[0]);
                            $('#id_taken_month').val(date_parts[1]);
                        }

                        $('#location-mw-overlay-latitude').val(exif_data.GPSLatitude[2].toString());
                        $('#location-mw-overlay-longitude').val(exif_data.GPSLongitude[2].toString());
                    });
                }

                reader.readAsDataURL(input.files[0]);
            }
        });

    })
    </script>
{% endblock %}
