{% extends 'base.html' %}
{% load wagtailimages_tags %}

{% block meta_title %}Photo: "{{photo.title}}"{% endblock %}

{% block main %}
<main>
    <section id="search">
       <div class="search-field">
            <form action="/photos/">
                <input name="phrase" value="{{ phrase }}">
                <button class="search-icon"></button>
                <button class="location-icon"></button>
            </form>
        </div>
    </section> <!-- end .search -->

    <section id="photo">
        <div class="photo-image">
          {% image photo.image height-700 height="" width="" %}
        </div> <!-- end #photo -->

        <div class="photo-data">
          <div class="photo-description">
            <h3>Description</h3>
            <p>
              {{ photo.description }}
            </p>
          </div><!-- end #photo-description -->

          <div class="photo-photograph">
            <h3>Data</h3>
                <ul>
                    {% if photo.taken_year %}
                        <li>Date taken: 
                            {{ photo.taken_month_name }}
                            {{ photo.taken_year }}
                        </li>
                    {% endif %}
                  {% for subcat in photo.subcategories.all %}
                      <li>{{ subcat }}</li>
                  {% endfor %}
                </ul>
          </div><!-- end .photograph-data -->

          <div class="photo-location">
            <h3>Location</h3>
            <p>e.g. London, United Kingdom</p> <!-- TO: GN, could you add geolocation, lat/long here please -->
                
          </div><!-- end .location -->
        </div><!-- end .photo-data -->
    </section> <!-- end .photo -->
    
    <section id="photo-map">
        <!-- img src="https://images.fineartamerica.com/images-medium-large-5/london-map-art-michael-tompsett.jpg" alt=""/ -->
        
        <h3>Map</h3>
        <!-- div instead of img -->
        {% if photo.location %}
          <div id="map-leaflet">
        {% else %}
          <p>No exact coordinates for this photo</p>
        {% endif %}
        </div>
        
    </section> <!-- end #map -->

</main>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Create map and set view
  var photo_point = [{{ photo.location.y }}, {{ photo.location.x }}];
  var photomap = L.map('map-leaflet').setView(photo_point, 15);
  // Create tilelayer and add to map
  var tileLayer = L.tileLayer("http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png").addTo(photomap);
  var sample_markers = [
    {'latlng':photo_point, 'content':"This Photo"}
  ];
  for (i in sample_markers){
    m = L.marker(sample_markers[i]['latlng']).bindPopup(
        sample_markers[i]['content']
    ).addTo(photomap);
  }
});
</script>

{% endblock main %}
