{% extends 'base.html' %}
{% load wagtailimages_tags %}

{% block main %}
<main>
    <section id="search">
       <div class="search-field">
            <input><button>Search</button>
            <button>My location</button>
        </div>
    </section> <!-- end .search -->

    <section id="photo">
        <h1>{{ photo.title }}</h1>
        <div class="photo-image">
          {% image photo.image height-700 height="" width="" %}
        </div> <!-- end #photo -->

        <div class="photo-data">
          <div class="photo-description">
            <h3>Photo description</h3>
            <p>
              {{ photo.description }}
            </p>
          </div><!-- end #photo-description -->

          <div class="photo-photographer">
            <h3>Photographer:</h3>
                <ul>
                  {% if photo.photographer.get_age_range_display %}
                    <li>Age: {{ photo.photographer.get_age_range_display }}</li>
                  {% endif %}
                  {% if 0 %}
                    <li>Ethnicity: ?</li>
                  {% endif %}
                </ul>
          </div><!-- end .photographer-data -->

          <div class="photo-photograph">
            <h3>Photograph:</h3>
                <ul>
                    {% if photo.date %}<li>Date taken: {{ photo.date|date:'F Y' }}</li>{% endif %}
                  {% for subcat in photo.subcategories.all %}
                      <li>{{ subcat }}</li>
                  {% endfor %}
                </ul>
          </div><!-- end .photograph-data -->

          <div class="photo-location">
            <h3>Location:</h3>
                <p>Postcode</p>
          </div><!-- end .location -->
        </div><!-- end .photo-data -->
    </section> <!-- end .photo -->
    <section id="map">
        <img src="https://images.fineartamerica.com/images-medium-large-5/london-map-art-michael-tompsett.jpg" alt=""/>
    </section> <!-- end #map -->

</main>


{% endblock main %}
