{% extends 'base.html' %}
{% load wagtailimages_tags mmee_wagtail_tags %}

{% block meta_title %}Search{% endblock %}

{% block main %}

{% verbatim %}
<main id="search-screen">

    <section id="search">

       <div class="search-field">
            <input v-model="meta.query.phrase" @keyup.enter="on_phrase_submit">
            
            <button class="search-icon" v-on:click="on_phrase_submit"></button>
            <!--<button class="location-icon"></button>-->

        </div>
        <div class="search-filters">
            <div class="filter">
                <input type="checkbox" id="filter-nav" />
                <label aria-label="Filter list" class="filter-label" for="filter-nav">
                    All Filters
                </label>
                <div class="filter-list">
                  <ul>
                    <li>
                      <h2>Filters</h2>
                      <form action="">
                        <h3>Categories</h3>
                        
                        <template v-for="facet in meta.facets">
                            <h4>{{ facet[0] }}</h4>
                            <div v-for="option in facet[1]">
                                <label>
                                    <input type="checkbox" 
                                        v-bind:name="option[0]+':'+option[1]" 
                                        value="1" v-bind:checked="option[4]" 
                                        v-on:click="on_change_option(option, $event)">
                                    {{ option[2] }} ({{ option[3] }})
                                </label>
                            </div>
                        
                        </template>
                        
                        <button aria-label="clear filters">Clear filters</button>
                      </form>
                    </li>
                  </ul>
                </div>
            </div>
           
        </div> <!-- end .search-filters -->
    </section> <!-- end #search -->

    <section id="results" v-if="meta.pagination.count < 1">
        <p>No results were found for your search. 
            <a href="?" v-on:click.prevent="on_click_link">Show all Photos</a>.
        </p>
        
        <p>Search tips:</p>
        <ul>
            <li>Check your spelling and try searching again</li>
            <li>Try a similar but different search term (like street instead of road)</li>
            <li>Keep your search term simple and short (1 or 2 words) as our search facility works best with fewer words</li>
            <li>Try using our filters to find your product</li>
        </ul>        
    </section>
    <section id="results" v-else>
        View:
        <template v-for="view in views">
            <input :id="view.id" type="radio" v-model="meta.query.view" :value="view.key" @change.prevent="on_update_view">
            <label :for="view.id"><i :class="view.class"></i> <span>{{ view.label }}</span></label>
        </template>

        <div class="sort">
            Sort by:
            <select aria-label="Sort by" v-model="meta.query.order">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="nearest">Nearest</option>
            </select>
        </div>

        <div class="itemsperpage">
            Items per page:
            <select aria-label="Items per page" v-model="meta.query.perpage">
                <option value="12">12</option>
                <option value="36">36</option>
                <option value="60">60</option>
            </select>
        </div>  

        <div class="pagination-wrapper">
            <span class="stats">
                <template v-if="searching">Searching...</template>
                <template v-else>{{ meta.pagination.count }} Photo<template v-if="meta.pagination.count > 1">s</template></template> 
            </span>
            <span class="pagination" v-if="meta.query.view !== 'map'">
                <a :href="link_prev" v-on:click.prevent="on_click_link" class="button page-prev">&lt;</a>
                Page {{ meta.pagination.page }} / {{ meta.pagination.pages }}
                <a :href="link_next" v-on:click.prevent="on_click_link" class="button page-next">&gt;</a>
            </span>
        </div>

        <article id="photo-grid" class="tab-content">
            <div v-for="photo in photos" class="photo">
              <div class="photo-image">
                <a v-bind:href="photo.attributes.url+'?'+meta.qs" v-html="photo.attributes.image">
                </a>
              </div>
            </div>
            <p class="page-more-wrapper" v-if="link_next">
                <a :href="link_next" v-on:click.prevent="on_click_link($event, 1)" class="button page-more">
                    <template v-if="searching">Loading...</template>
                    <template v-else>Show {{ meta.pagination.per_page }} more</template>
                </a>
            </p>
        </article>
  <!--<div class="breadcrumb ">
      <h3>Sidebar</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maxime fugiat perspiciatis.</p>
    </div>-->
        <article id="photo-list" class="tab-content">
            <div v-for="photo in photos" class="photo">
                <div class="photo-image">
                  <a v-bind:href="photo.attributes.url+'?'+meta.qs" v-html="photo.attributes.image">
                  </a>
                </div>
                <div class="photodata">
                    <h2>{{ photo.attributes.description }}</h2>
                    <p v-if="photo.attributes.date">Date taken: {{ photo.attributes.date }}</p>
                </div>
            </div>
            <p class="page-more-wrapper">
                <a :href="link_next" v-if="link_next" v-on:click.prevent="on_click_link($event, 1)" class="button page-more">
                    Show {{ meta.pagination.per_page }} more
                </a>
            </p>
        </article>

        <article id="photo-map" class="tab-content">
            <div id="sticky-map" class="sticky">
                <!-- p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p -->
            </div>
            <!-- div class="accidental-map-interaction-protection-glass">
                TODO: click to interact
            </div -->
        </article>

    </section> <!-- end #results -->

</main>
{% endverbatim %}

{# this will be attached under #photo-map with JS #}
{# but needs to initially place it outside Vue.js root element #}
<div id="map-leaflet">
</div>

{% endblock %}

{% block footer_scripts %}

<script>

$(function() {
    var photos = window.photos = [];
    var query = {{ search_query|json }};

    // Create map and set view
    centre = (query.geo.split(',')).map(function(v) {return parseFloat(v)});
    var photomap = L.map('map-leaflet').setView([centre[0], centre[1]], centre[2]);
    window.photomap = photomap;
    L.control.locate().addTo(photomap);
    
    function init_click_map_to_interact(map) {
        // map.scrollWheelZoom.disable();
        // map.once('focus', function() {
        //     map.scrollWheelZoom.enable();
        // });
    };
    init_click_map_to_interact(photomap);
    
    // Create tilelayer and add to map
    var tileLayer = L.tileLayer("http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png").addTo(photomap);
    var markers = [];
    var $map = null;
    
    function resize_map() {
      photomap.invalidateSize();
    }

    function replace_map_markers(photos, reframe) {
      markers.map(function(marker) {
          photomap.removeLayer(marker);
      });
      photos.map(function(p) {
        var pa = p.attributes;
        if (pa.location) {
            markers.push(L.marker(pa.location).bindPopup(
                '<a href="'+pa.url+'">'+pa.title+'</a>'
            ));
        }
      });
      if (markers.length) {
        var cluster_group = L.markerClusterGroup();
        cluster_group.addLayers(markers);
        photomap.addLayer(cluster_group);
        if (reframe) {
          // photomap.fitBounds(group.getBounds());
        }
      }
      if ($map === null) {
        $map = $('#map-leaflet').detach();
        // $('#photo-map').append($map);
        $('#sticky-map').append($map);
      }
      resize_map();
    }
            
    var search_app = new Vue({
        el: '#search-screen',
        data: {
            photos: photos,
            last_geo_query_hash: null,
            meta: {
                query: query,
                pagination: {},
                qs: '',
                facets: {},
            },
            links: {},
            searching: 1,
            views: [
                {
                    id: 'tab1',
                    label: 'Grid',
                    key: 'grid',
                    class: 'fas fa-th',
                },
                {
                    id: 'tab2',
                    label: 'List',
                    key: 'list',
                    class: 'fas fa-list',
                },
                {
                    id: 'tab3',
                    label: 'Map',
                    key: 'map',
                    class: 'fas fa-map-marker-alt',
                },
            ]
        },
        mounted: function() {
            this.$nextTick(function () {
                // this is to show initial results
                this.call_api();
            })            
        },
        watch: {
            'meta.query.order': function() {
                this.call_api({page: 1});
            },
            'meta.query.perpage': function() {
                this.call_api({page: 1});
            },
            'meta.query.geo': function() {
                if (this.meta.query.order == 'nearest') {
                    this.call_api({page: 1});
                }
            },
        },
        computed: {
            link_first: function() {
                return this.get_html_link_from_api_link(this.links.first);
            },
            link_last: function() {
                return this.get_html_link_from_api_link(this.links.last);                
            },
            link_next: function() {
                return this.get_html_link_from_api_link(this.links.next);                
            },
            link_prev: function() {
                return this.get_html_link_from_api_link(this.links.prev);
            },
        },
        methods: {
            on_update_view: function(event) {
                if (this.meta.query.view == 'map') {
                    this.resize_map();                    
                }
                this.call_api();
            },
            on_change_option: function(option, event) {
                option[4] = event.target.checked ? 1: 0;
                this.call_api({page: 1});
            },
            on_phrase_submit: function() {
                this.call_api({page: 1, facets: ''});
            },
            on_click_link: function(event, load_more) {
                // we call the api with the query string from the clicked hyperlink
                // to avoid doing a page reload.
                this.call_api({}, event.target.getAttribute('href'), load_more); 
            },
            get_html_link_from_api_link: function(link) {
                return link ? link.replace(/[^?]+[?]?/, '?') : '';
            },
            resize_map: function() {
                resize_map();
            },
            call_api: function(aquery, query_string, load_more) {
                /*
                Calls the API with parameters found in this.meta.query.
                
                If aquery is provided, its parameters will override 
                this.meta.query.
                
                If query_string is provided (?page=1), it will be used instead
                of this.data.query and aquery.
                
                this.data is updated with the API response. Including this.meta.query.
                */
                
                var self = this;
                var query = {};
                self.searching = 1;
                
                if (query_string) {
                    query = get_dict_from_query_string(query_string);
                } else {
                    query_string = '';
                                        
                    query = $.extend(
                        {}, // Important: without this {}, we get all the getters and setters from self.meta.query
                        self.meta.query,
                        {
                            facets: this.get_string_from_selected_facets(),
                        },
                        aquery
                    )
                }
                
                query.imgspecs = this.get_image_spec(3, 75);
                                
                // query for the photo result (list of images)
                var req = $.getJSON('/api/1.0/photos/', query);
                req.done(function(data) {
                    if (!load_more) {
                        Vue.set(self, 'photos', []);
                    }
                    Array.prototype.push.apply(self.photos, data.data);
                    self.updating_from_response = 1;
                    Vue.set(self, 'meta', data.meta);
                    Vue.set(self, 'links', data.links);
                    self.updating_from_response = 0;
                    
                    replace_query_string(data.meta.qs);
                    self.searching = 0;
                });

                // query for the map result (markers)
                if (1) {
                    query.page = 1;
                    query.perpage = 5000;
                    query.geo_only = 1;
                    var geo_query_hash = this.get_hash_from_geo_query(query);
                    if (geo_query_hash !== self.last_geo_query_hash) {
                        console.log('GEO ONLY QUERY');
                        var req_geo_only = $.getJSON('/api/1.0/photos/', query);
                        var self = this;
                        req_geo_only.done(function(data) {
                            self.last_geo_query_hash = self.get_hash_from_geo_query(data.meta.query);
                            replace_map_markers(data.data, 1);
                        });
                    }
                }
            },
            get_string_from_selected_facets: function() {
                // returns a single string representing all selected facets
                var ret = [];
                $.each(this.meta.facets, function(i, facet) {
                    $.each(facet[1], function(j, option) {
                        if (option[4]) {
                            ret.push(option[0]+':'+option[1]);
                        }
                    })
                });
                return ret.join(';')
            },
            get_hash_from_geo_query: function(query) {
                // returns a string that uniquely identifies the geo query.
                // e.g. 'phrase=street&facets='
                // Used to prevent calling the API twice with the same query.
                var fields = ['phrase', 'facets'];
                var ret = fields.map(function(field) {
                    return field + '=' + (query[field] || '');
                }).join('&');
                console.log(ret);
                return ret;
            },
            get_image_spec: function(image_per_row, size_step) {
                // returns fixed height spec
                // compatible with wagtail image format spec string

                // dynamic image size so it's optimal for mobile or desktop.
                var image_per_row = get_arg_default(image_per_row, 3);
                // size_step helps to avoid all possible client width
                // creating their own thumbnails on the server side.
                // It helps reusing existing thumbs.
                var size_step = get_arg_default(size_step, 75);
                var image_height = Math.ceil(($('#results').width()) / image_per_row / size_step) * size_step;
                if (image_height > 500) {
                    image_height = 500;
                }
                return 'height-' + image_height;
            }
        }
    });

    function get_arg_default(arg, def) { return typeof arg !== 'undefined' ? arg : def; };

    function replace_query_string(qs) {
        if (history.pushState) {
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + qs;
            window.history.pushState({path:newurl},'',newurl);
        }
    }

    function set_query_centre_from_map_centre() {
        var centre = photomap.getCenter();
        search_app.meta.query.geo = get_str_from_latlng(centre)+','+photomap.getZoom();
        console.log('set query centre: ' + search_app.meta.query.geo);
    }

    function get_dict_from_query_string(qs) {
        // qs = '?a=b&c=d'
        var ret = {};

        // only keep the query string, without path or fragment
        qs = (qs || '').replace(/#.*$/, '');
        var idx = qs.indexOf('?');
        if (idx > -1) qs = qs.substring(idx + 1);

        // convert to dictionary / object
        qs.split('&').forEach(function(pair) {
            pair = pair.split('=');
            ret[pair[0]] = decodeURIComponent(pair[1] || '');
        });

        return ret;
    }

    set_query_centre_from_map_centre();
    photomap.on('moveend', function () {
        set_query_centre_from_map_centre();
    });

});

</script>

{% endblock %}
