{% extends 'base.html' %}
{% load wagtailimages_tags mmee_wagtail_tags %}

{% block meta_title %}Search{% endblock %}

{% block main %}

{% verbatim %}
<main id="search-screen">

    <section id="search">

       <div class="search-field">
            <input v-model="meta.query.phrase" @keyup.enter="phrase_submit">
            
            <button class="search-icon" v-on:click="phrase_submit"></button>
            <button class="location-icon"></button>

        </div>
        <div class="search-filters">
            <div class="filter">
                <input type="checkbox" id="filter-nav" />
                <label aria-label="Filter list" class="filter-label" for="filter-nav">
                    Filter
                </label>
                <div class="filter-list">
                  <ul>
                    <li>
                      <h2>Filters</h2>
                      <form action="">
                        <h3>Categories</h3>
                        
                        <template v-for="facet in meta.facets">
                            <h4>{{ facet[0] }}</h4>
                            <div v-for="option in facet[1]">
                                <label>
                                    <input type="checkbox" 
                                        v-bind:name="option[0]+':'+option[1]" 
                                        value="1" v-bind:checked="option[4]" 
                                        v-on:click="on_change_option(option, $event)">
                                    {{ option[2] }} ({{ option[3] }})
                                </label>
                            </div>
                        
                        </template>
                        
                        <button aria-label="apply filter">Apply filter</button>
                      </form>
                    </li>
                  </ul>
                </div>
            </div>
            <div class="sort">
                <select aria-label="Sort by" v-model="meta.query.order">
                  <option value="newest">Newest</option>
                  <option value="oldest">Oldest</option>
                </select>
            </div>
        </div> <!-- end .filter-sort -->
    </section> <!-- end #search -->

    <section id="results" v-if="meta.pagination.count < 1">
        <p>No results were found for your search. 
            <a href="?" v-on:click.prevent="on_click_link">Show all Photos</a>.
        </p>
        
        <p>Search tips:</p>
        <ul>
            <li>Check your spelling and try searching again</li>
            <li>Try a similar but different search term (like street instead of road)</li>
            <li>Keep your search term simple and short (1 or 2 words) as our search facility works best with fewer words</li>
            <li>Try using our filters to find your product</li>
        </ul>        
    </section>
    <section id="results" v-else>

        <p class="stats">
            <template v-if="searching">Searching...</template>
            <template v-else>{{ meta.pagination.count }} Photo(s).</template> 
            <span class="pagination">
                <a :href="link_prev" v-on:click.prevent="on_click_link" class="button page-prev">&lt;</a>
                Page {{ meta.pagination.page }} / {{ meta.pagination.pages }}
                <a :href="link_next" v-on:click.prevent="on_click_link" class="button page-next">&gt;</a>
            </span>
        </p>
    
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1"><span>Grid</span></label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2"><span>List</span></label>

        <input id="tab3" type="radio" name="tabs" v-on:change="resize_map">
        <label for="tab3"><span>Map</span></label>

        <article id="photo-grid" class="tab-content">
            <div v-for="photo in photos" class="photo">
              <div class="photo-image">
                <a v-bind:href="photo.attributes.url+'?'+meta.qs" v-html="photo.attributes.image">
                </a>
              </div>
            </div>
            <p class="page-more-wrapper" v-if="link_next">
                <a :href="link_next" v-on:click.prevent="on_click_link($event, 1)" class="button page-more">
                    <template v-if="searching">Loading...</template>
                    <template v-else>Show {{ meta.pagination.per_page }} more</template>
                </a>
            </p>
        </article>
  <!--<div class="breadcrumb ">
      <h3>Sidebar</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maxime fugiat perspiciatis.</p>
    </div>-->
        <article id="photo-list" class="tab-content">
            <div v-for="photo in photos" class="photo">
                <div class="photo-image">
                  <a v-bind:href="photo.attributes.url+'?'+meta.qs" v-html="photo.attributes.image">
                  </a>
                </div>
                <div class="photodata">
                    <h2>{{ photo.attributes.description }}</h2>
                    <p v-if="photo.attributes.date">Date taken: {{ photo.attributes.date }}</p>
                </div>
            </div>
            <p class="page-more-wrapper">
                <a :href="link_next" v-if="link_next" v-on:click.prevent="on_click_link($event, 1)" class="button page-more">
                    Show {{ meta.pagination.per_page }} more
                </a>
            </p>
        </article>

        <article id="photo-map" class="tab-content">
        </article>

    </section> <!-- end #results -->

</main>
{% endverbatim %}

{# this will be attached under #photo-map with JS #}
{# but needs to place it outside Vue.js root element #}
<div id="map-leaflet">
</div>

{% endblock %}

{% block footer_scripts %}
<script>

$(function() {
    // Create map and set view
    var photomap = L.map('map-leaflet').setView([51.52, -0.03], 12);
    // Create tilelayer and add to map
    var tileLayer = L.tileLayer("http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png").addTo(photomap);
    var markers = [];
    var $map = null;
    
    function resize_map() {
      photomap.invalidateSize();
    }

    function update_map(photos) {    
      markers.map(function(marker) {
          photomap.removeLayer(marker);
      });
      markers = [];
      var points = photos.map(function(p) {
        var pa = p.attributes;
        if (pa.location) {
            var marker = L.marker(pa.location).bindPopup(
                '<a href="'+pa.url+'">'+pa.title+'</a>'
            ).addTo(photomap);
            
            markers.push(marker);
            
            return pa.location;
        }
      })
      if (points.length) {
        photomap.fitBounds(points);
      }
      if ($map === null) {
        $map = $('#map-leaflet').detach();
        $('#photo-map').append($map);
      }
      resize_map();
    }
    
    var photos = window.photos = [];
    var query = {{ search_query|json }};
        
    var search_app = new Vue({
        el: '#search-screen',
        data: {
            photos: photos,
            meta: {
                query: query,
                pagination: {},
                qs: '',
                facets: {},
            },
            links: {},
            searching: 1,
        },
        mounted: function() {
            this.$nextTick(function () {
                this.call_api();
            })            
        },
        watch: {
            photos: function() {
                update_map(this.photos);
            },
            'meta.query.order': function() {
                this.call_api({page: 1});
            },
        },
        computed: {
            link_first: function() {
                return this.get_html_link_from_api_link(this.links.first);
            },
            link_last: function() {
                return this.get_html_link_from_api_link(this.links.last);                
            },
            link_next: function() {
                return this.get_html_link_from_api_link(this.links.next);                
            },
            link_prev: function() {
                return this.get_html_link_from_api_link(this.links.prev);
            },
        },
        methods: {
            on_change_option: function(option, event) {
                option[4] = event.target.checked ? 1: 0;
                this.call_api({page: 1});
            },
            phrase_submit: function() {
                this.call_api({page: 1, facets: ''});
            },
            on_click_link: function(event, load_more) {
                this.call_api({}, event.target.getAttribute('href'), load_more); 
            },
            get_html_link_from_api_link: function(link) {
                return link ? link.replace(/[^?]+[?]?/, '?') : '';
            },
            resize_map: function() {
              resize_map();
            },
            call_api: function(aquery, query_string, load_more) {
                /*
                Calls the API with parameters found in this.data.query.
                
                If aquery is provided, its parameters will override 
                this.data.query.
                
                If query_string is provided (?page=1), it will be used instead
                of this.data.query and aquery.
                
                Update this.data when we receive a response from the API.
                */
                
                var self = this;
                self.searching = 1;
                
                // dynamic image size so it's optimal for mobile or desktop.
                var image_per_row = 3;
                // size_step helps to avoid all possible client width
                // creating their own thumbnails on the server side.
                // It helps reusing existing thumbs.
                var size_step = 75;
                var image_height = Math.ceil(($('#results').width()) / image_per_row / size_step) * size_step;
                if (image_height > 500) {
                    image_height = 500;
                }
                var imgspecs = 'height-' + image_height;
                
                if (!query_string) {
                    query_string = '';
                    
                    var query_facets = [];
                    $.each(self.meta.facets, function(i, facet) {
                        $.each(facet[1], function(j, option) {
                            if (option[4]) {
                                query_facets.push(option[0]+':'+option[1]);
                            }
                        })
                    });
                    
                    var query = $.extend(
                        self.meta.query,
                        {facets: query_facets.join(';')},
                        {imgspecs: imgspecs},
                        aquery
                    )
                } else {
                    query_string += '&imgspecs='+imgspecs;
                }
                                
                var req = $.getJSON('/api/1.0/photos/' + query_string, query);
                req.done(function(data) {
                    if (!load_more) {
                        Vue.set(self, 'photos', []);
                    } 
                    Array.prototype.push.apply(self.photos, data.data);
                    self.updating_from_response = 1;
                    Vue.set(self, 'meta', data.meta);
                    Vue.set(self, 'links', data.links);
                    self.updating_from_response = 0;
                    
                    replace_query_string(data.meta.qs);
                    self.searching = 0;
                });
            },
        }
    }); 


    function replace_query_string(qs) {
        if (history.pushState) {
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?' + qs;
            window.history.pushState({path:newurl},'',newurl);
        }
    }

});

</script>
{% endblock %}

