{% load staticfiles compress  %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block meta_title %}{% endblock %} | Sensing Place</title>
  <meta name="author" content="King's Digital Lab">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" href="{% static 'images/sensingplace-favicon.png' %}">


  {# TO: Need to download #}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'leaflet/dist/leaflet.css' %}">

  {% compress css %}
    <link rel="stylesheet" href="{% static 'leaflet.locatecontrol/dist/L.Control.Locate.css' %}" >
    <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.css' %}" >
    <link rel="stylesheet" href="{% static 'leaflet.markercluster/dist/MarkerCluster.Default.css' %}" >
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  {% endcompress %}

</head>
<body>
  <div class="wrapper">
    <a href="#maincontent" class="accessibility-label">Skip to main content</a>
    {% include 'includes/header.html' %}

    {% include 'includes/navigation.html' %}

    {% block main-section %}

      <!-- <main> -->
      <div id="maincontent">
        {% block h1 %}<h1>{% block title %}{% endblock %}</h1>{% endblock %}
        {% block main %}{% endblock %}
      </div>
      <!-- </main> -->

    {% endblock %}
  </div>

  <footer>
    {% block footer %}
      {% include 'includes/footer.html' %}
    {% endblock %}
  </footer>

  {% compress js %}
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

  <script src="{% static 'leaflet/dist/leaflet.js' %}"></script>
  <script src="{% static 'leaflet.locatecontrol/dist/L.Control.Locate.min.js' %}" charset="utf-8"></script>
  <script src="{% static 'leaflet.markercluster/dist/leaflet.markercluster.js' %}" charset="utf-8"></script>

  <script src="{% static 'vue/dist/vue.js' %}"></script>

  <script src="{% static 'js/main.js' %}"></script>
  {% endcompress %}

  {% if 0 %}
      {% compress js %}
      <script src="{% static 'js/google_analytics.js' %}"></script>
      <script>
        ga('create', '{{ GA_ID }}', 'auto');
        ga('send', 'pageview');
      </script>
      {% endcompress %}
  {% endif %}

  {% block footer_scripts %}{% endblock %}

</body>
</html>
