<div class="wrapper">
  <nav>
    <input type="checkbox" id="menu" />
    <label aria-label="Menu" class="menu-label" for="menu">
      =
    </label>
    <div class="menu-list">
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Latest News</a>
        </li>
        <li>
          <a href="">What We Do</a>
        </li>
        <li>
          <a href="">Another Link</a>
        </li>
        <li>
          <a href="">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <section>
    <h1>Sensing Place</h1>
    <div id="search-geo">
      <input> <button>Search</button>
      <button>My location</button>
    </div>
    <div id="filter-sort">
      <div id="filter">
       <input type="checkbox" id="filter-nav" />
       <label aria-label="Filter list" class="filter-label" for="filter-nav">
        Filter
      </label>
      <div class="filter-list">
        <ul>
          <li>
            <h2>Filters</h2>
            <form action="">
              <h3>Photographer</h3>
              <h4>Category 1</h4>
              <div>
              <input type="checkbox" name="category1" value="">subcat 1
              </div>
              <div>
              <input type="checkbox" name="category1" value="">subcat 2
              </div>
              <div>
              <input type="checkbox" name="category1" value="">subcat 3
              </div>

              <h4>Category 2</h4>
              <div>
              <input type="checkbox" name="category1" value="">subcat 1
              </div>
              <div>
              <input type="checkbox" name="category1" value="">subcat 2
              </div>
              <div>
              <input type="checkbox" name="category1" value="">subcat 3
              </div>
              <h4>Category 3</h4>
              <div>
              <input type="checkbox" name="category1" value="">subcat 1
              </div>
              <div>
              <input type="checkbox" name="category1" value="">subcat 2
              </div>
              <div>
              <input type="checkbox" name="category1" value="">subcat 3
              </div>
              
              <button aria-label="apply filter">Apply filter</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div id="sort">
      <select aria-label="Sort by">
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </div>
  </div> <!-- end filter sort -->
  <div class="tabs">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><span>Grid</span></label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>List</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><span>Map</span></label>

    <section id="content1" class="tab-content">
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 1 title</h2>
        </div>
      </div>
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 2 title</h2>
        </div>
      </div>       
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 3 very long long long long long long long long long long long title</h2>
        </div>
      </div>       
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 4 title</h2>
        </div>
      </div>
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 5 title</h2>
        </div>
      </div>       
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 6 title</h2>
        </div>
      </div>       
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 7 title</h2>
        </div>
      </div>   
    </section>

    <section id="content2" class="tab-content">
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 1 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>      
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 2 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>       

      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 3 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>

      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 4 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>       

      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 5 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>        
    </section>

    <section id="content2" class="tab-content">
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" />
        <div class="photodata">
          <h2>Photograph 1 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>      
      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 2 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>       

      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 3 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>

      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 4 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>       

      <div class="photo">
        <img src="http://i.huffpost.com/gen/749263/original.jpg" alt=""/>
        <div class="photodata">
          <h2>Photograph 5 title</h2>
          <p>Lorem ipsum dolor sit amet, his errem concludaturque eu, prima adipisci id qui. Malorum persequeris dissentiunt ut est, decore cetero fastidii no eos. Ne sea prima invidunt, graece oportere cu vis. Vis in graeco audire.
          </p>
        </div>
      </div>        
    </section>

    <section id="content3" class="tab-content">
      <div id="map">
        <img src="https://images.fineartamerica.com/images-medium-large-5/london-map-art-michael-tompsett.jpg" alt=""/>
      </div>
    </section>

  </div> <!-- end .tabs -->
</section>
</div> <!-- end .wrapper -->